-# = form_for(post) do |f|
-#   - if post.errors.any?
-#     #error_explanation
-#       %h2
-#         = pluralize(post.errors.count, "error")
-#         prohibited this post from being saved:
-#       %ul
-#         - post.errors.full_messages.each do |message|
-#           %li= message
-#   .field
-#     = f.label :title
-#     = f.text_field :title
-#   .field
-#     = f.label :caption
-#     = f.text_field :caption
-#   .actions
-#     = f.submit


-# = form_for @post, url: posts_path, html: { multipart: true } do |f|
-#   - if post.errors.any?
-#     #error_explanation
-#       %h2
-#         = pluralize(post.errors.count, "error")
-#         prohibited this post from being saved:
-#       %ul
-#         - post.errors.full_messages.each do |message|
-#           %li= message
-#
-#
-#   .field
-#     = f.label :title
-#     = f.text_field :title
-#   .field
-#     = f.label :caption
-#     = f.text_field :caption
-#   .field
-#     -# = simple_form_for @post, url:posts_path do |form|
-#     = f.file_field :image, as: :file
-#   .actions
-#     = f.submit

.form-wrapper
  = simple_form_for @post, html: { class: 'form-horizontal', multipart: true } do |f|
    .form-group.text-center
      = f.input :title
    .form-group
      = f.input :image
    .form-group.text-center
      = f.input :caption
    .form-group.text-center
      = f.button :submit, class: 'btn-success'
